/* body {
	--primary: #e53935;
	--primary-hover: red;
} */

.container-narrow {
	margin: 0 auto;
	max-width: 20rem;
}

.container-vertical {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
